# -----------------------------
# Visual Studio Code
# -----------------------------
.vscode/

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# -----------------------------
# Windows
# -----------------------------
Thumbs.db
Desktop.ini

# -----------------------------
# macOS
# -----------------------------
.DS_Store

# -----------------------------
# Log Files
# -----------------------------
*.log

# -----------------------------
# Environment Variables
# -----------------------------
.env
.env.*

# -----------------------------
# Temporary Files
# -----------------------------
*.tmp
*.temp

# -----------------------------
# JetBrains IDE
# -----------------------------
.idea/

# -----------------------------
# Node.js
# -----------------------------
node_modules/

# -----------------------------
# Coverage
# -----------------------------
coverage/
